<div id="page">
	<div id="job_show">
		<h1><%= @job.name %></h1>
		<p><span class="jobattr">Cost:</span> <%= number_to_currency(@job.cost) %></p>
		<p><span class="jobattr">Cargo:</span> <%= @job.cargo %></p>
		<p><span class="jobattr">Origin:</span> <%= @origin.name %></p>
		<p><span class="jobattr">Destination:</span> <%= @destination.name %></p>
		<p><span class="jobattr">user_id:</span> <%= @job.user.username %></p>
		<% if @job.boat_id == nil %>
			<h2>Available Ships</h2>
			<%= form_for @job do |j| %>
				<%= j.collection_select :boat_id, @boats, :id, :name, :prompt => "Select a Ship" %>
				<%= j.hidden_field :state, :value => 2 %>
				<%= j.submit %>
			<% end %>
		<% else %>
			<h2>Selected Ship</h2>
			<p class="thin_sub_title"><%= link_to @job.boat.name, @job.boat %><p>
			<% if @job.state == 2 %>	
				<%= render partial: "boats/edit", locals: {boat: @boat} %>
				<%= form_for @job do |j| %>
					<%= j.hidden_field :state, :value => 3 %>
					<%= j.submit %>
				<% end %>
			<% elsif @job.state == 3 %>
				<h1>COMPLETED</h1>
			<% end %>
		<% end %>
	</div>
</div>

