	<div>
		<p class="underline">Boats at Port</p>
		<% @allboats.where(location_id: 1).each do |b| %>
			<% if(b.captain == @user) %>
				<p class="fs"><%= link_to b.name %></p>
			<% elsif(b.user == @user) %>
				<p><%= link_to b.name, b %></p>
			<% else %>
				<p class="as"><%= link_to b.name, b%></p>
			<% end %>
		<% end %>
		<p class="underline">Available Jobs</p>
		<% @jobs.where(origin: 1).each do |j| %>
			<p><%= link_to j.name, j %></p>
		<% end %>
	</div>



	<% if b.user.id == @user.id %>
							<p class="fs"><%= link_to b.name, b %></p>
						<% elsif b.user.id == @user.id %>
							<p><%= link_to b.name, b %></p>
						<% else %>
							<p class="as"><%= link_to b.name, b%></p>
						<% end %>